:root {
  --myWhite: rgb(239, 230, 221);
  --myBlue: rgb(21, 22, 25);
  --myRed: rgb(167, 38, 8);
  --myGrey: rgb(153, 153, 161);
  --myGrape: rgb(174, 140, 163);
  --myLightBlue: rgb(98,60,234, 0.4);
}

.App {
  text-align: center;
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%; 
}

.featured img, .preview {
 height: 30vh;
 max-width: 40vw;
 border: 2px solid var(--myGrape);
 border-radius: 5px;
 margin: 0 auto;
}

h1 {
  color: var(--myWhite);
  margin: 1.5em 0em;
  max-width: 100vw;
  font-size: 1.5em;
  letter-spacing: 3px;
}

a { text-decoration: none; }

nav {
  width: 100%;
  position: fixed;
  top: 0;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
  margin: 20px 0;
}

p { font-size: 20px; }

.nav-link {
  height: 100%;
  width: 100%;
  opacity: 1;
  color: var(--myWhite);
  font-size: 10px;
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: var(--myLightBlue);
  font-weight: 1000;
}

.current-page { color: var(--myRed); }

#overview, #upload, #play {
  width: 90%;
  margin: 5%;
  position: fixed;
  bottom: 10px;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

#featured {
  display: grid;
  justify-content: center;
  align-content: center;
  width: inherit;
  position: inherit;
}

#featured.one { grid-template-rows: 1fr 1fr; }

#featured.multi { grid-template-columns: 1fr 1fr; }

.featured {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  justify-content: center;
  max-height: 60vh;
}

#total {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

input, button, #file-upload-button {
  font-family: monospace;
  text-align: center;
  background-color: var(--myWhite);
  color: var(--myBlue);
  border-radius: 5px;
}

input, button {
  width: 50vw;
  margin: 2vh;
  font-size: 20px;
}

.centered {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.result button { width: 40%; }

#file-upload-button { margin: 0 auto; }

span:hover {
  cursor: pointer;
  text-shadow: 0 0 3px var(--myWhite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: var(--myRed);
  margin: 2em;
}

code span { color: var(--myWhite); }

.hidden { visibility: hidden;}
.visible { visibility: visible;}

@media only screen and (min-width: 1024px) {
  h1 { font-size: 50px; }  

  .nav-link { font-size: 20px; }

  p, code { font-size: 30px; }

  #featured.multi { grid-template-columns: 1fr 1fr; }
}

@media only screen and (max-width: 734px) {
  input, button {
    width: 90vw;
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    margin: 2em 0em;
  }  

  .nav-link { font-size: 15px; }

  code { margin: 5px; } 

  p, code { font-size: 20px; }

  #featured.multi {
    position: fixed;
    bottom: 0;
    height: inherit;
    display: block;
    overflow: scroll;
  }

  .featured {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    justify-content: center;
    padding-bottom: 10px;
  }

  .featured img, .preview { max-width: 60vw; }

  #overview, #upload, #play { height: 85vh; }

}